<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Mindset Research, Inc.</title>
		<meta name="keywords" content="Mindset research, mental, mind, brain, health,  data, online, social, cloud, mobile, disorder, illness, anxiety, depression, counselling, therapy, SAT, AI, VR, counseller, therapist, Psychology, Psychologist, self, perfomance, productivity, human, management, team, organization, stress, resource, training, self">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />
        <link rel="stylesheet" href="assets/css/roboto-webfont.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/style2018.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!-- Sections -->
        <!--
        <section id="social" class="social">
            <div class="container">
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-6">
                            <div class="social-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-contact">
                                <a href="#"><i class="fa fa-phone"></i>+011 54925849</a>
                                <a href="#"><i class="fa fa-envelope"></i>contact@softech.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		-->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="assets/images/logo01.png" alt="Logo" width="200"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#home">ホーム</a></li>
						<li><a href="#service">研修/トレーニングツール</a></li>
						<li><a href="#business">研究開発</a></li>
						<li><a href="#features">企業情報</a></li>
						<li><a href="#contact">お問合わせ
							</a></li>
                        <!--
                        <li class="login"><a href="#">Sign In</a></li>
                        -->
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!--Home page style-->
        <header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">
									<h1>「感じ方」が変わる<br/>「未来」が変わる！　</h1>
									<p>脳科学カウンセリング技術を活用、セルフメンタルトレーニングシステム
									<br/>新時代ビジネスパーソン必携スキル、”セルフ”・ストレスマネジメントスキルを身につける
									</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

		<section id="features" class="features sections lightbg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p>　　働き方改革、健康経営、ストレスチェック制度…今や、組織メンバーの健康やストレスの問題は生産性と関連付けられ、企業の発展に欠かせない経営要素として取り上げられるようになりました。ストレスは万病の元と言われます。ストレス度が高いと、感じ方や考え方は、否定的、批判的、消極的になり、メンバーの挑戦意欲や生産性を低下させます。</p>
						<p>　しかし、ストレスは、個人の性格傾向や、物事や人間関係のへの「感じ方」など個人の内面が大きく関わる問題のため、その解決に向けては、これまで、医師やカウンセラー、コーチャー、メンター、アドバイザーなど、様々な専門家や人的支援が不可欠でした。しかし、基本的にマンツーマンによる人的支援では、カバーできる範囲は自ずと限られています。果たして、組織的な課題解決に向けて、どのように対処をすれば良いか？
						</p>
						<p>　当社は、脳科学カウンセリング・セラピー技術とITとを融合させることで、組織メンバーの自助力を高めるソリューションを提供します。当社が、筑波大学と共同で研究開発した、セルフメンタルトレーニングシステムMOODSWITCHは、従来、専門家の支援がないと難しかった、ストレス問題原因への気づき、ストレス軽減、ストレス耐性向上、性格・行動変容などのトレーニングを、“セルフ”で実施可能にするものです。MOODSWITCHを使った研修トレーニングプログラムは、組織メンバーのストレスに対する自助力を高め、人材や組織の活性化、生産性向上を目的としています。

						</p>
					</div>
				</div>
			</div>
		</section>
		<section id="features" class="features sections">
			<div class="main_service2 margin-bottom-80">
				<div class="head_title text-center">
					<h2>研修/トレーニングツール</h2>
					<p>当社では、脳科学カウンセリング・セラピー技術をベースに、“セルフ”で、「ストレスケア」、「ストレス耐性向上」、「コミュニケーション」、「性格・行動変容」を行うことができるメンタルトレーニングシステム“MOODSWITCH”を、筑波大学と共同で研究開発し提供しています。MOODSWITCHは、クラウドサービスとして、ネットワークを通じて提供されます。使用の目的や環境に応じて、利用者は、WEB、VR、チャットボットの3つの種類のアプリが提供されます。</p>
				</div>
			</div>
			<div class="container">
				<div class="row margin-bottom-80">
					<div class="main_features_content2">

						<div class="col-sm-5">
							<div class="single_features_left text-center">
								<img src="assets/images/flaticon01.png" alt="" />
							</div>
						</div>

						<div class="col-sm-7">
							<div class="single_features_right ">
								<div class="subTitle">
									<h3 class="subTitleLogo">Trainer</h3>
									<div class="separator"></div>
								</div>
								<p>　SATメソッドは、筑波大学大学院人間総合科学研究科宗像恒次研究室で開発され、日本をはじめ、中国、ドイツ、オーストリアなど海外でも普及してきているカウンセリング・セラピー技法です。
								精神分析を開発したフロイトが自由連想法を用いるのに対し、SATメソッドは、感情の明確化、自己イメージ連想法、心傷風景連想法等、問いかけを構造化した連想法を用いることが特徴です。
								SATメソッドでは、相談者が問題（秘密）を語る必要がありません。ストレス場面を想い浮かべることで生じる身体の違和感（重い、ドキドキするなど）を、画像などイメージを使って良好感に変え、自己解決を図ります。
								</p>
							</div>
						</div>

					</div>
				</div>
				<div class="row margin-bottom-80">
					<div class="main_features_content2">
						<div class="col-sm-7">
							<div class="single_features_right ">
								<div class="subTitle">
									<h3 class="subTitleLogo">CareVR</h3>
									<div class="separator"></div>
								</div>
								<p>CareVRは、Virtual Reality技術を使ってセルフセラピーを実施するためのアプリです。VRの没入感映像を使って、イメージ技法をの効果を最大限に高め、システムの中でも、最も高いストレス軽減効果を発揮するアプリです。 安価なスマートフォン挿入型のVRヘッドセットを着用し、実施することができます。</p>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="single_features_left text-center">
								<img src="assets/images/flaticon02.png" alt="" />
							</div>
						</div>

					</div>
				</div>
				<div class="row margin-bottom-80">
					<div class="main_features_content2">

						<div class="col-sm-5">
							<div class="single_features_left text-center">
								<img src="assets/images/flaticon03.png" alt="" />
							</div>
						</div>

						<div class="col-sm-7">
							<div class="single_features_right ">
								<div class="subTitle">
									<h3 class="subTitleLogo">CareBot</h3>
									<div class="separator"></div>
								</div>

								<p>CareBOTは、LINEアプリ上で利用できるAIチャットボットが、セルフセラピーを誘導するアプリです。利用者が積極的、意識的に、アプリを操作してくれなくても、LINE上の仮想セラピストが、セルフセラピー実施の時を教えてくれ、 自動的にセラピー実施を誘導してくれます。利用の動機づけが十分でない利用者に対して、あるいは、一斉に大人数が使用するような場合に、有効なアプリです。
								</p>
							</div>
						</div>

					</div>
				</div>
				<div class="row margin-bottom-80">
					<div class="main_features_content2">
						<div class="col-sm-7">
							<div class="single_features_right ">
								<div class="subTitle">
									<h3>組織の課題分析</h3>
									<div class="separator"></div>
								</div>
								<p>
									MOODSWITCHの使用データは統計処理し、組織の課題分析に利用することができます。組織メンバーの心理、ストレス特性から、組織内に起こりうる課題を分析し、組織の生産性向上、チームマネジメントの改善、メンタルヘルス環境の改善などに向けたソリューションを提案いたします。
								</p>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="single_features_left text-center">
								<img src="assets/images/flaticon04.png" alt="" />
							</div>
						</div>

					</div>
				</div>
				<div class="row margin-bottom-80">
					<div class="main_features_content2">

						<div class="col-sm-5">
							<div class="single_features_left text-center">
								<img src="assets/images/flaticon05.png" alt="" />
							</div>
						</div>

						<div class="col-sm-7">
							<div class="single_features_right ">
								<div class="subTitle">
									<h3>脳科学カウンセリング・セラピー技術SATメソッドについて</h3>
									<div class="separator"></div>
								</div>

								<p>SATメソッドは、筑波大学大学院人間総合科学研究科宗像恒次研究室で開発され、日本をはじめ、中国、ドイツ、オーストリアなど海外でも普及してきているカウンセリング・セラピー技法です
									様々なストレスによるメンタルの問題や精神障害から身体の病気まで有効範囲が広い技術で、臨床的にも学術的にも安全性、効果が実証されています。学術機関であるNPO法人ヘルスカウンセリング学会公認「ヘルスカウンセラー」資格は，厚生労働省の「メンタルヘルス対策・過重労働対策・自殺予防対策に関連する資格」の一つとして認定を受け，「こころの耳（働く人のメンタルヘルスポータルサイト）」に掲載されています。
									SAT法は，従来のカウンセリング技法が心理的な問題に焦点を当てるのに対し，ストレスによる生じる身体違和感や不快感（胸がドキドキする、胃がキリキリする、手足が冷えるなど）を解消することで、ストレス問題を解決していく技法です。悩みや問題を言葉にして問題解決をするのではなく、心地よい景色や笑顔のイメージ画像からの視覚刺激を利用することで、連想やひらめき，直感をよく機能させることで，無自覚な本当の感情や本質的な欲求を短時間で把握し、解決します。
									セラピーによりストレス問題の軽減や解決を図るだけではなく、繰り返しのトレーニングで、物事や人間関係の感じ方の切替を行うスキルを身に着け、ポジティブな性格に転換していくことで、ストレスからの柔軟な回復力（レジリエンス）を身に着け、ストレス耐性を高めることができます。
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<section id="contact" class="contact sections lightbg">
			<div class="container">
				<div class="row padding-bottom-40 margin-bottom-80">
					<div class="main_contact whitebackground">
						<div class="head_title text-center">
							<h2>論文</h2>
						</div>
						<div class="portfolio-wrapper2 text-center">
							<div class="col-sm-12">
								<div class="community-edition">
									<ul class="list">
										<li>
											<h5>Virtual Reality Course Based on the SAT Counseling Method for Self-guided Mental Healthcare</h5>
											<p>　Ito T,Kamita T,Matsumoto A,Inoue T and Munakata T, The Sixth IEEE International Conference on Healthcare Informatics, New York City(2018/06)</p>
										</li>
										<li>
											<h5>カウンセリング技法SAT法に基づくスマートフォン用デジタルコンテンツ</h5>
											<p>　伊藤達哉,紙田剛,松本敦子,徐炯達,楊珍,宗像恒次,井上智雄,研究報告デジタルコンテンツクリエーション（DCC）, 2018-DCC-18, vol.37, 1-8, 2018-01-19, 情報処理学会.</p>
										</li>
										<li>
											<h5>VR（バーチャルリアリティ）を用いたSATセルフメンタルケアシステムの開発</h5>
											<p>　松本敦子,紙田剛,井上智雄,橋本佐由理：Journal of Health Counseling, suppl, pp.36-37, 2017, ヘルスカウンセリング学会</p>
										</li>
										<li>
											<h5>SAT法に基づくセルフメンタルヘルスケアのVRによる実現</h5>
											<p>　中西明日輝, 野口康人,中島寿哉, 楊珍, 松本敦子, 紙田剛, 宗像恒次, 井上智雄：, 研究報告デジタルコンテンツクリエーション（DCC）, 2017-DCC-15, vol.35, 1-8, 2017-01-13, 情報処理学会.</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				
					<div class="main_contact whitebackground">
						<div class="head_title text-center">
							<h2>研究開発</h2>
							<p>当社では、株式会社SDSと筑波大学と協力して、システムやサービスの研究開発を行い、エビデンスに基づいたシステム、及び、サービスの提供を行っていきます。</p>
						</div>
						<div class="portfolio-wrapper2 text-center">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="community-edition">
									<figure>
										<a href="http://www.kksds.com/" target="_blank"><img src="../img/devSec01_sds_banner.png" class="banner" style="margin-bottom: 1em;" alt="筑波大学発ベンチャー 株式会社SDS" width="200"/></a>
									</figure>
									<h4>筑波大学発ベンチャー<br><a href="http://www.kksds.com/" target="_blank">株式会社SDS</a><br>代表取締役社長　宗像恒次 博士</h4>
									<p>筑波大学大学院教授(現名誉教授) 宗像恒次 博士によって開発され、世界でからも評価を受けるカウンセリング技法、SATメソッドの普及目的として設立。SATカウンセラーの育成、SAT研修プログラムの開発・提供、日本や中国、ドイツなどでのセミナー開催、SAT療法センターでの心理治療など。</p>
									<p>宗像代表が学会長を務めるNPO法人ヘルスカウンセリング学会の公認ヘルスカウンセラーは、厚労省「こころの耳」事業資格として認定を受け、厚労省ホームページに掲載されています。
									</p>
									
									<p><a href="http://www.healthcounseling.org/" target="_blank">NPO法人ヘルスカウンセリング学会</a>の公認ヘルスカウンセラーは、厚労省「こころの耳」事業資格として認定を受け、<a href="https://kokoro.mhlw.go.jp/qualification/" target="_blank">厚労省ホームページ</a>に掲載されています。</p>
									<figure>
										<a href="https://kokoro.mhlw.go.jp/qualification/" target="_blank"><img src="../img/kokoro_no_mimi.png" alt="厚生労働省 こころの耳" /></a>
									</figure>
								</div>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="community-edition">
									<figure>
										<a href="http://inolab.slis.tsukuba.ac.jp/" target="_blank"><img src="../img/devSec01_interaction_banner.png" class="banner" alt="筑波大学 インタラクション研究室" width="200" /></a>
									</figure>
									<h4>筑波大学<br/>情報学群　情報メディア創成学類<br><a href="http://inolab.slis.tsukuba.ac.jp/" target="_blank">インタラクション研究室</a><br>井上智雄教授</h4>
									<p>ユビキタスコンピューティングの時代。そこでは、コンピュータと人とのインタラクション（対話）も新しい形態へと設計し直すことが必要です。</p>
									<p>井上研究室では、人と人とのコミュニケーションや協同の理解に基づいて、インタラクションを拡張する研究を進め、次世代社会情報環境を創り出しています。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="contact" class="contact sections ">
			<div class="container">
				<div class="row">
					<div class="main_contact whitebackground">
						<div class="head_title text-center">
							<h2>会社概要</h2>
							<!--<div class="separator"></div>-->
						</div>
						<div class="contact_content">

							<div class="col-md-12">
								<div class="single_right_contact">
									<table class="table">
										<tbody>
											<tr>
												<th>社名</th>
												<td>株式会社マインドセットリサーチ　（略称：MSR）</td>
											</tr>
											<tr>
												<th>設立</th>
												<td>2015年11月11日</td>
											</tr>
											<tr>
												<th>所在地</th>
												<td>〒170-0013 東京都豊島区東池袋2-39-2大住ビル5F</td>
											</tr>
											<tr>
												<th>代表電話番号</th>
												<td>03-5950-5683</td>
											</tr>
											<tr>
												<th>役員</th>
												<td>代表取締役　紙田　剛<br>取　締　役　松本　敦子</td>
											</tr>
											<tr>
												<th>顧問</th>
												<td>筑波大学名誉教授　/　株式会社ＳＤＳ　代表取締役社長<br>宗像　恒次 博士</td>
											</tr>
											<tr>
												<th>大学発ベンチャー登録</th>
												<td>筑波大学発ベンチャー<br>（<a href="http://www.sanrenhonbu.tsukuba.ac.jp/spin_offs/year/#h27" target="_blank">筑波大学産学連携本部ホームページ</a>）</td>
											</tr>
											<tr>
												<th>主な事業内容</th>
												<td>
													<ul style="margin-left: 1em; list-style-type: square;">
														<li>心理学・脳科学をベースとしたメンタルヘルス対策、人材育成、組織マネジメントのコンサルティング・アドバイサリー</li>
														<li>メンタルヘルス対策の研修・トレーニング</li>
														<li>メンタルヘルスに関わる情報システム企画・開発・販売</li>
														<li>個人/組織の心理アセスメント、分析調査</li>
														<li>ＥＡＰ(従業員支援プログラム)サービス</li>
														<li>カウンセリングサービス</li>
														<li>メンタルヘルス専門家養成</li>
														<li>人材コンサルティング</li>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section><!-- End of Contact Section -->
		<section id="contact" class="contact sections  lightbg">
            <div class="container">
                <div class="row">
                    <div class="main_contact whitebackground">
                        <div class="head_title text-center ">
                            <h2>お問合わせ</h2>
							<p>システムやサービスの詳細については、下記にお問合せ下さい。</p>
                        </div>
                        <div class="contact_content ">
                            <div class="col-md-12">
                                <div class="single_right_contact">
                                    <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>-->

                                    <div class="contact_address text-center">
										<span>〒170-0013　東京都豊島区東池袋2-39-2　大住ビル5F</span>
										<span>電話：03-5950-5683（営業時間：平日10:00～17:00）</span> 
										<span>メール：info@mindset-research.co.jp</span>
                                    </div>
<!--
                                    <div class="contact_socail_bookmark">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google"></i></a>
                                    </div>
-->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
								<img src="assets/images/logo01.png" alt="logo" width="250" />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
								<p>Copyright (C) 2018 mind set research Inc. All Rights Reserved.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>
        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/modernizr.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
