@charset "UTF-8";

/* body ================================== */
/* header ================================== */
header {
	height: 70px;
}
header #headerWrapper {
	padding: 5px;
}
header #headerWrapper div.logo {
	float: left;
	width: 35%;
}
header #headerWrapper div.nav {
	float: right;
	width: 60%;
}
header #headerWrapper div.logo img {
	height: 60px;
}
header #headerWrapper div.nav nav {
	height: 60px;
}
header #headerWrapper div.nav nav ul {
	display: table;
	height: 60px;
}
header #headerWrapper div.nav nav ul li {
	display: table-cell;
	min-width: 100px;
	height: 60px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
header #headerWrapper div.nav nav ul li a img {
	height: 60px;
}
/* main ================================== */
#main {
	color: #7F7F7F;
	clear: both;
}